<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.AppInstallPackageMapper" >
    <resultMap id="AppInstallPackageMap" type="com.channelsoft.ccod.support.cmdb.po.AppInstallPackagePo" >
        <id column="package_id" property="packageId" jdbcType="INTEGER" />
        <result column="app_id" property="appId" jdbcType="INTEGER" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="file_type" property="fileType" jdbcType="VARCHAR" />
        <result column="deploy_path" property="deployPath" jdbcType="VARCHAR" />
        <result column="nexus_repository" property="nexusRepository" jdbcType="VARCHAR" />
        <result column="nexus_directory" property="nexusDirectory" jdbcType="VARCHAR" />
        <result column="nexus_asset_id" property="nexusAssetId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="md5" property="md5" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        aip.package_id, aip.app_id, aip.file_name, aip.file_type, aip.deploy_path, aip.nexus_repository, aip.nexus_directory, aip.nexus_asset_id, aip.create_time, aip.md5
    </sql>
    <select id="selectByPrimaryKey" resultMap="AppInstallPackageMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from app_install_package aip
        where aip.package_id=#{packageId,jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.channelsoft.ccod.support.cmdb.po.AppInstallPackagePo"
            useGeneratedKeys="true" keyProperty="packageId">
        insert into app_install_package(app_id, file_name, file_type, deploy_path, nexus_repository, nexus_directory, nexus_asset_id, create_time, md5)
        values (#{appId,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{deployPath,jdbcType=VARCHAR}, #{nexusRepository,jdbcType=VARCHAR}, #{nexusDirectory,jdbcType=VARCHAR}, #{nexusAssetId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{md5,jdbcType=VARCHAR})
    </insert>
    <update id="update" parameterType="com.channelsoft.ccod.support.cmdb.po.AppInstallPackagePo" >
        update app_install_package set
        file_type = #{fileType,jdbcType=VARCHAR},
        deploy_path = #{deployPath,jdbcType=VARCHAR},
        nexus_repository = #{nexusRepository,jdbcType=VARCHAR},
        nexus_directory = #{nexusDirectory,jdbcType=VARCHAR},
        nexus_asset_id = #{nexusAssetId,jdbcType=VARCHAR},
        md5 = #{md5,jdbcType=VARCHAR}
        where package_id = #{packageId,jdbcType=INTEGER}
    </update>
    <delete id="delete">
        delete
        from app_install_package aip
        where 1=1
        <if test="packageId!=null">
            And
            aip.packageId=#{packageId,jdbcType=INTEGER}
        </if>
        <if test="appId!=null">
            And
            aip.appId=#{appId,jdbcType=INTEGER}
        </if>
    </delete>
</mapper>