<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.AppMapper" >
    <resultMap id="AppMap" type="com.channelsoft.ccod.support.cmdb.po.AppPo" >
        <id column="app_id" property="appId" jdbcType="INTEGER" />
        <result column="app_name" property="appName" jdbcType="VARCHAR" />
        <result column="app_type" property="appType" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="ccod_version" property="ccodVersion" jdbcType="VARCHAR" />
        <result column="base_path" property="basePath" jdbcType="VARCHAR" />
        <result column="deploy_path" property="deployPath" jdbcType="VARCHAR" />
        <result column="env_load_cmd" property="initCmd" jdbcType="VARCHAR" />
        <result column="init_cmd" property="initCmd" jdbcType="VARCHAR" />
        <result column="start_cmd" property="startCmd" jdbcType="VARCHAR" />
        <result column="log_output_cmd" property="logOutputCmd" jdbcType="VARCHAR" />
        <result column="kernal" property="kernal" jdbcType="BOOLEAN" />
        <result column="time_out" property="timeout" jdbcType="INTEGER" />
        <result column="ports" property="ports" jdbcType="VARCHAR" />
        <result column="node_ports" property="nodePorts" jdbcType="VARCHAR" />
        <result column="check_at" property="checkAt" jdbcType="VARCHAR" />
        <result column="resources" property="resources" jdbcType="VARCHAR" />
        <result column="initial_delay_seconds" property="initialDelaySeconds" jdbcType="INTEGER" />
        <result column="period_seconds" property="periodSeconds" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_reason" property="createReason" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="version_control" property="versionControl" jdbcType="VARCHAR" />
        <result column="version_control_url" property="versionControlUrl" jdbcType="VARCHAR" />
        <result column="has_image" property="hasImage" jdbcType="BOOLEAN" />
        <result column="cfgs" property="cfgs" jdbcType="VARCHAR" typeHandler="com.channelsoft.ccod.support.cmdb.dao.typeHandler.JsonAppNexusFileHandler"/>
        <result column="install_package" property="installPackage" jdbcType="VARCHAR" typeHandler="com.channelsoft.ccod.support.cmdb.dao.typeHandler.AppNexusFileHandler"/>
    </resultMap>
    <sql id="Base_Column_List" >
        a.app_id,
        a.app_name,
        a.app_type,
        a.version,
        a.ccod_version,
        a.base_path,
        a.deploy_path,
        a.env_load_cmd,
        a.init_cmd,
        a.start_cmd,
        a.log_output_cmd,
        a.kernal,
        a.time_out,
        a.ports,
        a.node_ports,
        a.check_at,
        a.resources,
        a.initial_delay_seconds,
        a.period_seconds,
        a.create_time,
        a.update_time,
        a.create_reason,
        a.`comment`,
        a.version_control,
        a.version_control_url,
        a.has_image,
        a.cfgs,
        a.install_package
    </sql>
    <select id="selectByPrimaryKey" resultMap="AppMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from app a
        where a.app_id=#{appId,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="AppMap" >
        select
        <include refid="Base_Column_List" />
        from app a
        where 1=1
        <if test="appType!=null">
            And a.app_type=#{appType,jdbcType=VARCHAR}
        </if>
        <if test="appName!=null">
            And a.app_name=#{appName,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectByNameAndVersion" resultMap="AppMap">
        select
        <include refid="Base_Column_List" />
        And a.app_name=#{appName,jdbcType=VARCHAR}
        And a.version=#{version,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="com.channelsoft.ccod.support.cmdb.po.AppPo"
            useGeneratedKeys="true" keyProperty="appId">
        insert into app(
                        app_name,
                        app_type,
                        version,
                        ccod_version,
                        base_path,
                        deploy_path,
                        env_load_cmd,
                        init_cmd,
                        start_cmd,
                        log_output_cmd,
                        kernal,
                        time_out,
                        ports,
                        node_ports,
                        check_at,
                        resources,
                        initial_delay_seconds,
                        period_seconds,
                        create_time,
                        update_time,
                        create_reason,
                        `comment`,
                        version_control,
                        version_control_url,
                        has_image,
                        cfgs,
                        install_package)
        values (
                    #{appName,jdbcType=VARCHAR},
                    #{appType,jdbcType=VARCHAR},
                    #{version,jdbcType=VARCHAR},
                    #{ccodVersion,jdbcType=VARCHAR},
                    #{basePath,jdbcType=VARCHAR},
                    #{deployPath,jdbcType=VARCHAR},
                    #{envLoadCmd,jdbcType=VARCHAR},
                    #{initCmd,jdbcType=VARCHAR},
                    #{startCmd,jdbcType=VARCHAR},
                    #{logOutputCmd,jdbcType=VARCHAR},
                    #{kernal,jdbcType=BOOLEAN},
                    #{timeout,jdbcType=INTEGER},
                    #{ports,jdbcType=VARCHAR},
                    #{nodePorts,jdbcType=VARCHAR},
                    #{checkAt,jdbcType=VARCHAR},
                    #{resources,jdbcType=VARCHAR},
                    #{initialDelaySeconds,jdbcType=INTEGER},
                    #{periodSeconds,jdbcType=INTEGER},
                    #{createTime,jdbcType=TIMESTAMP},
                    #{updateTime,jdbcType=TIMESTAMP},
                    #{createReason,jdbcType=VARCHAR},
                    #{comment,jdbcType=VARCHAR},
                    #{versionControl,jdbcType=VARCHAR},
                    #{versionControlUrl,jdbcType=VARCHAR},
                    #{hasImage,jdbcType=BOOLEAN},
                    #{cfgs,typeHandler=com.channelsoft.ccod.support.cmdb.dao.typeHandler.JsonAppNexusFileHandler},
                    #{installPackage,typeHandler=com.channelsoft.ccod.support.cmdb.dao.typeHandler.AppNexusFileHandler}
                    )
    </insert>
    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from app_cfg_file acf
        where app_id = #{appId,jdbcType=INTEGER}
    </delete>
    <update id="update" parameterType="com.channelsoft.ccod.support.cmdb.po.AppPo" >
    update app set
        version = #{version,jdbcType=VARCHAR},
        ccod_version = #{ccodVersion,jdbcType=VARCHAR},
        base_path = #{basePath,jdbcType=VARCHAR},
        deploy_path = #{deployPath,jdbcType=VARCHAR},
        env_load_cmd = #{envLoadCmd,jdbcType=VARCHAR},
        init_cmd = #{initCmd,jdbcType=VARCHAR},
        start_cmd = #{startCmd,jdbcType=VARCHAR},
        log_output_cmd = #{logOutputCmd,jdbcType=VARCHAR},
        kernal = #{kernal,jdbcType=BOOLEAN},
        time_out = #{timeout,jdbcType=INTEGER},
        ports = #{ports,jdbcType=VARCHAR},
        node_ports = #{nodePorts,jdbcType=VARCHAR},
        check_at = #{checkAt,jdbcType=VARCHAR},
        resources = #{resources,jdbcType=VARCHAR},
        initial_delay_seconds = #{initialDelaySeconds,jdbcType=INTEGER},
        period_seconds = #{periodSeconds,jdbcType=INTEGER},
        comment = #{comment,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        version_control = #{versionControl,jdbcType=VARCHAR},
        version_control_url = #{versionControlUrl,jdbcType=VARCHAR},
        has_image = #{hasImage,jdbcType=BOOLEAN},
        cfgs = #{cfgs,typeHandler=com.channelsoft.ccod.support.cmdb.dao.typeHandler.JsonAppNexusFileHandler},
        install_package = #{installPackage,typeHandler=com.channelsoft.ccod.support.cmdb.dao.typeHandler.AppNexusFileHandler}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
</mapper>