<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.DomainMapper" >
    <resultMap id="DomainMap" type="com.channelsoft.ccod.support.cmdb.po.DomainPo" >
        <id column="domain_id" property="domainId" jdbcType="VARCHAR" />
        <result column="domain_name" property="domainName" jdbcType="VARCHAR" />
        <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="occurs" property="occurs" jdbcType="INTEGER" />
        <result column="max_occurs" property="maxOccurs" jdbcType="INTEGER" />
        <result column="tags" property="tags" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        dm.domain_id, dm.domain_name, dm.platform_id, dm.create_time, dm.update_time, dm.`status`, dm.`comment`, dm.type, dm.occurs, dm.max_occurs, dm.tags
    </sql>
    <select id="selectByPrimaryKey" resultMap="DomainMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from domain dm
        where dm.platform_id=#{platformId,jdbcType=VARCHAR} AND dm.domain_id=#{domainId,jdbcType=VARCHAR}
    </select>
    <select id="selectByName" resultMap="DomainMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from domain dm
        where dm.platform_id=#{platformId,jdbcType=VARCHAR} AND dm.domain_name=#{domainName,jdbcType=VARCHAR}
    </select>
    <select id="select" resultMap="DomainMap" >
        select
        <include refid="Base_Column_List" />
        from domain dm
        where 1=1
        <if test="platformId!=null">
            And dm.platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="status!=null">
            And dm.status=#{status,jdbcType=INTEGER}
        </if>
    </select>
    <insert id="insert" parameterType="com.channelsoft.ccod.support.cmdb.po.DomainPo">
        insert into domain(domain_id, domain_name, platform_id, create_time, update_time, `status`, `comment`, type, occurs, max_occurs, tags)
        values (#{domainId,jdbcType=VARCHAR}, #{domainName,jdbcType=VARCHAR}, #{platformId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{occurs,jdbcType=INTEGER}, #{maxOccurs,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR})
    </insert>
    <delete id="delete">
        delete
        from domain
        where 1=1
        <if test="domainId!=null">
            And
            domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
        <if test="platformId!=null">
            And
            platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
    </delete>
    <update id="update" parameterType="com.channelsoft.ccod.support.cmdb.po.DomainPo" >
        update domain set
            domain_name = #{domainName,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            comment = #{comment,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            occurs = #{occurs,jdbcType=INTEGER},
            max_occurs = #{maxOccurs,jdbcType=INTEGER},
            tags = #{tags,jdbcType=INTEGER}
        where domain_id = #{domainId,jdbcType=VARCHAR}
    </update>
</mapper>