<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.PlatformAppBkModuleMapper" >
    <resultMap id="PlatformAppBkModuleMap" type="com.channelsoft.ccod.support.cmdb.po.PlatformAppBkModulePo" >
        <id column="app_bk_module_id" property="platformAppId" jdbcType="INTEGER" />
        <result column="platform_app_id" property="platformAppId" jdbcType="INTEGER" />
        <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
        <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
        <result column="set_id" property="setId" jdbcType="VARCHAR" />
        <result column="bk_biz_id" property="bkBizId" jdbcType="INTEGER" />
        <result column="bk_set_id" property="bkSetId" jdbcType="INTEGER" />
        <result column="bk_set_name" property="bkSetName" jdbcType="VARCHAR" />
        <result column="bk_module_id" property="bkModuleId" jdbcType="INTEGER" />
        <result column="bk_host_id" property="bkHostId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        pakm.app_bk_module_id AS app_bk_module_id,
	    pakm.platform_app_id AS platform_app_id,
	    pakm.platform_id AS platform_id,
	    pakm.domain_id AS domain_id,
	    pakm.set_id AS set_id,
	    pakm.bk_biz_id AS bk_biz_id,
	    pakm.bk_set_id AS bk_set_id,
	    pakm.bk_set_name AS bk_set_name,
	    pakm.bk_module_id AS bk_module_id,
	    pakm.bk_host_id AS bk_host_id
        FROM
	    platform_app_bk_module pakm
    </sql>
    <insert id="insert" parameterType="com.channelsoft.ccod.support.cmdb.po.PlatformAppBkModulePo"
            useGeneratedKeys="true" keyProperty="appBkModuleId">
        insert into platform_app_bk_module(platform_app_id, platform_id, domain_id, set_id, bk_biz_id, bk_set_id, bk_set_name, bk_module_id, bk_host_id)
        values (#{platformAppId,jdbcType=INTEGER}, #{platformId,jdbcType=VARCHAR}, #{domainId,jdbcType=VARCHAR}, #{setId,jdbcType=VARCHAR}, #{bkBizId,jdbcType=INTEGER}, #{bkSetId,jdbcType=INTEGER}, #{bkSetName,jdbcType=VARCHAR}, #{bkModuleId,jdbcType=INTEGER}, #{bkHostId,jdbcType=INTEGER})
    </insert>
    <delete id="delete">
        delete
        from platform_app_bk_module
        where 1=1
        <if test="platformAppId!=null">
            And
            platform_app_id=#{platformAppId,jdbcType=INTEGER}
        </if>
        <if test="bkBizId!=null">
            And
            bk_biz_id=#{bkBizId,jdbcType=INTEGER}
        </if>
        <if test="platformId!=null">
            And platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="domainId!=null">
            And domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
    </delete>
    <select id="selectByPrimaryKey" resultMap="PlatformAppBkModuleMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        where pakm.app_bk_module_id=#{appBkModuleId,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="PlatformAppBkModuleMap" >
        select
        <include refid="Base_Column_List" />
        where 1=1
        <if test="platformId!=null">
            And pakm.platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="domainId!=null">
            And pakm.domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
        <if test="bkBizId!=null">
            And pakm.bk_biz_id=#{bkBizId,jdbcType=INTEGER}
        </if>
        <if test="bkSetId!=null">
            And pakm.bk_set_id=#{bkSetId,jdbcType=INTEGER}
        </if>
        <if test="bkModuleId!=null">
            And pakm.bk_module_id=#{bkModuleId,jdbcType=INTEGER}
        </if>
        <if test="bkHostId!=null">
            And pakm.bk_host_id=#{bkHostId,jdbcType=INTEGER}
        </if>
    </select>
</mapper>