<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.PlatformAppMapper" >
    <resultMap id="PlatformAppMap" type="com.channelsoft.ccod.support.cmdb.po.PlatformAppPo" >
        <id column="platform_app_id" property="platformAppId" jdbcType="INTEGER" />
        <result column="app_id" property="appId" jdbcType="INTEGER" />
        <result column="app_alias" property="appAlias" jdbcType="VARCHAR" />
        <result column="original_alias" property="originalAlias" jdbcType="VARCHAR" />
        <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
        <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
        <result column="assemble_id" property="assembleId" jdbcType="INTEGER" />
        <result column="host_ip" property="hostIp" jdbcType="VARCHAR" />
        <result column="app_runner" property="appRunner" jdbcType="VARCHAR" />
        <result column="base_path" property="basePath" jdbcType="VARCHAR" />
        <result column="deploy_path" property="deployPath" jdbcType="VARCHAR" />
        <result column="init_cmd" property="port" jdbcType="VARCHAR" />
        <result column="start_cmd" property="startCmd" jdbcType="VARCHAR" />
        <result column="log_output_cmd" property="logOutputCmd" jdbcType="VARCHAR" />
        <result column="ports" property="ports" jdbcType="VARCHAR" />
        <result column="node_ports" property="nodePorts" jdbcType="VARCHAR" />
        <result column="resources" property="resources" jdbcType="VARCHAR" />
        <result column="initial_delay_seconds" property="initialDelaySeconds" jdbcType="INTEGER" />
        <result column="period_seconds" property="periodSeconds" jdbcType="INTEGER" />
        <result column="deploy_time" property="deployTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        	pa.platform_app_id AS platform_app_id,
	        pa.app_id AS app_id,
	        pa.app_alias AS app_alias,
	        pa.original_alias AS original_alias,
	        pa.platform_id AS platform_id,
	        pa.domain_id AS domain_id,
	        pa.assemble_id AS assemble_id,
	        pa.host_ip AS host_ip,
	        pa.app_runner AS app_runner,
	        pa.base_path AS base_path,
	        pa.deploy_path AS deploy_path,
            pa.init_cmd AS init_cmd,
	        pa.start_cmd AS start_cmd,
	        pa.log_output_cmd AS log_output_cmd,
	        pa.ports AS ports,
	        pa.node_ports AS node_ports,
	        pa.resources AS resources,
	        pa.initial_delay_seconds AS initial_delay_seconds,
	        pa.period_seconds AS period_seconds,
	        pa.deploy_time AS deploy_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="PlatformAppMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        platform_app pa
        where pa.platform_app_id=#{platformAppId,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="PlatformAppMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM
        platform_app pa
        INNER JOIN app a ON pa.app_id = a.app_id
        WHERE
        1 = 1
        <if test="platformId!=null">
            And pa.platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="domainId!=null">
            And pa.domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
        <if test="hostIp!=null">
            And pa.host_ip=#{hostIp,jdbcType=VARCHAR}
        </if>
        <if test="appName!=null">
            And a.app_name=#{appName,jdbcType=VARCHAR}
        </if>
        <if test="appAlias!=null">
            And a.app_alias=#{appAlias,jdbcType=VARCHAR}
        </if>
        <if test="version!=null">
            And a.version=#{version,jdbcType=VARCHAR}
        </if>
    </select>
    <insert id="insert" parameterType="com.channelsoft.ccod.support.cmdb.po.PlatformAppPo"
            useGeneratedKeys="true" keyProperty="platformAppId">
        insert into platform_app
            (
                app_id,
                app_alias,
                original_alias,
                platform_id,
                domain_id,
                assemble_id,
                host_ip,
                app_runner,
                base_path,
                deploy_path,
                init_cmd,
                start_cmd,
                log_output_cmd,
                ports,
                node_ports,
                resources,
                initial_delay_seconds,
                period_seconds,
                deploy_time)
        values (
                #{appId,jdbcType=INTEGER},
                #{appAlias,jdbcType=VARCHAR},
                #{originalAlias,jdbcType=VARCHAR},
                #{platformId,jdbcType=VARCHAR},
                #{domainId,jdbcType=VARCHAR},
                #{assembleId,jdbcType=INTEGER},
                #{hostIp,jdbcType=VARCHAR},
                #{appRunner,jdbcType=VARCHAR},
                #{basePath,jdbcType=VARCHAR},
                #{deployPath,jdbcType=VARCHAR},
                #{initCmd,jdbcType=VARCHAR},
                #{startCmd,jdbcType=VARCHAR},
                #{logOutputCmd,jdbcType=VARCHAR},
                #{ports,jdbcType=VARCHAR},
                #{nodePorts,jdbcType=VARCHAR},
                #{resources,jdbcType=VARCHAR},
                #{initialDelaySeconds,jdbcType=INTEGER},
                #{periodSeconds,jdbcType=INTEGER},
                #{deployTime,jdbcType=TIMESTAMP}
            )
    </insert>
    <delete id="delete">
        delete
        from platform_app
        where 1=1
        <if test="platformAppId!=null">
            And
            platform_app_id=#{platformAppId,jdbcType=INTEGER}
        </if>
        <if test="platformId!=null">
            And
            platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="domainId!=null">
            And
            domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
    </delete>
    <update id="update" parameterType="com.channelsoft.ccod.support.cmdb.po.PlatformAppPo" >
        update platform_app set
            base_path = #{basePath,jdbcType=VARCHAR},
            deploy_path = #{deployPath,jdbcType=VARCHAR},
            init_cmd = #{initCmd,jdbcType=VARCHAR},
            start_cmd = #{startCmd,jdbcType=VARCHAR},
            ports = #{ports,jdbcType=VARCHAR},
            node_ports = #{nodePorts,jdbcType=VARCHAR},
            resources = #{resources,jdbcType=VARCHAR},
            initial_delay_seconds = #{initialDelaySeconds,jdbcType=INTEGER},
            period_seconds = #{periodSeconds,jdbcType=INTEGER}
        where platform_app_id = #{platformAppId,jdbcType=VARCHAR}
    </update>
</mapper>