<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.PlatformAppDeployDetailMapper" >
    <resultMap id="PlatformAppDeployDetailMap" type="com.channelsoft.ccod.support.cmdb.vo.PlatformAppDeployDetailVo" >
        <id column="platform_app_id" property="platformAppId" jdbcType="INTEGER" />
        <result column="app_id" property="appId" jdbcType="INTEGER" />
        <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
        <result column="platform_name" property="platformName" jdbcType="VARCHAR" />
        <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
        <result column="domain_name" property="domainName" jdbcType="VARCHAR" />
        <result column="biz_set_name" property="bkSetName" jdbcType="VARCHAR" />
        <result column="assemble_id" property="assembleId" jdbcType="INTEGER" />
        <result column="assemble_tag" property="assembleTag" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="app_name" property="appName" jdbcType="VARCHAR" />
        <result column="app_alias" property="appAlias" jdbcType="VARCHAR" />
        <result column="original_alias" property="originalAlias" jdbcType="VARCHAR" />
        <result column="app_type" property="appType" jdbcType="VARCHAR" />
        <result column="host_ip" property="hostIp" jdbcType="VARCHAR" />
        <result column="app_runner" property="appRunner" jdbcType="VARCHAR" />
        <result column="ccod_version" property="ccodVersion" jdbcType="VARCHAR" />
        <result column="deploy_time" property="deployTime" jdbcType="TIMESTAMP" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="version_control" property="versionControl" jdbcType="VARCHAR" />
        <result column="version_control_url" property="versionControlUrl" jdbcType="VARCHAR" />
        <result column="base_path" property="basePath" jdbcType="VARCHAR" />
        <result column="deploy_path" property="deployPath" jdbcType="VARCHAR" />
        <result column="env_load_cmd" property="envLoadCmd" jdbcType="VARCHAR" />
        <result column="init_cmd" property="initCmd" jdbcType="VARCHAR" />
        <result column="start_cmd" property="startCmd" jdbcType="VARCHAR" />
        <result column="log_output_cmd" property="logOutputCmd" jdbcType="VARCHAR" />
        <result column="ports" property="ports" jdbcType="VARCHAR" />
        <result column="node_ports" property="nodePorts" jdbcType="VARCHAR" />
        <result column="resources" property="resources" jdbcType="VARCHAR" />
        <result column="initial_delay_seconds" property="initialDelaySeconds" jdbcType="INTEGER" />
        <result column="period_seconds" property="periodSeconds" jdbcType="INTEGER" />
        <result column="bk_biz_id" property="bkBizId" jdbcType="INTEGER" />
        <result column="bk_set_id" property="bkSetId" jdbcType="INTEGER" />
        <result column="bk_module_id" property="bkModuleId" jdbcType="INTEGER" />
        <result column="bk_host_id" property="bkHostId" jdbcType="INTEGER" />

        <association property="installPackage"
                     javaType="com.channelsoft.ccod.support.cmdb.po.AppInstallPackagePo"
                     resultMap="com.channelsoft.ccod.support.cmdb.dao.AppInstallPackageMapper.AppInstallPackageMap"
                     columnPrefix="aip_">
        </association>
        <collection property="srcCfgs"
                    ofType="com.channelsoft.ccod.support.cmdb.po.AppCfgFilePo"
                    resultMap="com.channelsoft.ccod.support.cmdb.dao.AppCfgFileMapper.AppCfgFileMap"
                    columnPrefix="acf_">
        </collection>
        <collection property="cfgs"
                    ofType="com.channelsoft.ccod.support.cmdb.po.PlatformAppCfgFilePo"
                    resultMap="com.channelsoft.ccod.support.cmdb.dao.PlatformAppCfgFileMapper.PlatformAppCfgFileMap"
                    columnPrefix="pacf_">
        </collection>
    </resultMap>
    <sql id="Base_Column_List" >
        pacf.platform_app_id AS platform_app_id,
        a.app_id,
	    pf.platform_name,
	    pf.platform_id,
	    dm.domain_id,
	    dm.domain_name,
	    dm.biz_set_name,
	    asb.assemble_id,
		asb.tag AS assemble_tag,
		asb.status AS status,
	    a.app_name,
	    pa.app_alias AS app_alias,
	    pa.original_alias AS original_alias,
	    a.app_type,
	    pa.host_ip AS host_ip,
	    a.version,
	    pa.app_runner AS app_runner,
	    a.ccod_version,
	    pa.base_path,
	    pa.deploy_path,
	    pa.env_load_cmd,
	    pa.start_cmd,
	    pa.start_cmd,
	    pa.log_output_cmd,
	    pa.ports,
	    pa.node_ports,
	    pa.resources,
	    pa.initial_delay_seconds AS initial_delay_seconds,
	    pa.period_seconds AS period_seconds,
	    pa.deploy_time,
	    a.create_time,
	    a.version_control,
	    a.version_control_url,
	    aip.app_id AS aip_app_id,
	    aip.create_time AS aip_create_time,
	    aip.deploy_path AS aip_deploy_path,
	    aip.file_name AS aip_file_name,
	    aip.ext AS aip_ext,
	    aip.md5 AS aip_md5,
	    aip.nexus_asset_id AS aip_nexus_asset_id,
	    aip.nexus_directory AS aip_nexus_directory,
	    aip.nexus_repository AS aip_nexus_repository,
	    aip.package_id AS aip_package_id,
	    acf.app_id AS acf_app_id,
	    acf.create_time AS acf_create_time,
	    acf.deploy_path AS acf_deploy_path,
	    acf.file_name AS acf_file_name,
	    acf.ext AS acf_ext,
	    acf.md5 AS acf_md5,
	    acf.nexus_asset_id AS acf_nexus_asset_id,
	    acf.nexus_directory AS acf_nexus_directory,
	    acf.nexus_repository AS acf_nexus_repository,
	    acf.cfg_file_id AS acf_cfg_file_id,
	    pacf.platform_app_id AS pacf_platform_app_id,
	    pacf.create_time AS pacf_create_time,
	    pacf.deploy_path AS pacf_deploy_path,
	    pacf.file_name AS pacf_file_name,
	    pacf.ext AS pacf_ext,
	    pacf.md5 AS pacf_md5,
	    pacf.nexus_asset_id AS pacf_nexus_asset_id,
	    pacf.nexus_directory AS pacf_nexus_directory,
	    pacf.nexus_repository AS pacf_nexus_repository,
	    pacf.cfg_file_id AS pacf_cfg_file_id,
	    bakm.app_bk_module_id AS app_bk_module_id,
	    bakm.bk_biz_id AS bk_biz_id,
	    bakm.bk_set_id AS bk_set_id,
	    bakm.bk_set_name AS bk_set_name,
	    bakm.bk_module_id AS bk_module_id,
	    bakm.bk_host_id AS bk_host_id
    FROM
	    platform_app pa
    INNER JOIN platform pf ON pa.platform_id = pf.platform_id
    INNER JOIN domain dm ON dm.platform_id=pf.platform_id and pa.domain_id = dm.domain_id
    INNER JOIN app a ON pa.app_id = a.app_id
    INNER JOIN app_install_package aip ON a.app_id = aip.app_id
    INNER JOIN app_cfg_file acf ON a.app_id = acf.app_id
    INNER JOIN platform_app_cfg_file pacf ON pacf.platform_app_id = pa.platform_app_id
    LEFT OUTER JOIN platform_app_bk_module bakm ON bakm.platform_app_id = pa.platform_app_id
    INNER JOIN assemble asb ON pa.assemble_id=asb.assemble_id
    </sql>
    <select id="selectPlatformApps" resultMap="PlatformAppDeployDetailMap" >
        select
            <include refid="Base_Column_List" />
        WHERE
            1 = 1
        <if test="platformId!=null">
            And pf.platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="domainId!=null">
            And dm.domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
        <if test="hostIp!=null">
            And host_ip=#{hostIp,jdbcType=VARCHAR}
        </if>
        ORDER BY
            pf.platform_name ASC,
            dm.domain_name ASC,
            host_ip ASC
    </select>
    <select id="selectAppDeployDetails" resultMap="PlatformAppDeployDetailMap" >
        select
        <include refid="Base_Column_List" />
        WHERE
        1 = 1
        <if test="appName!=null">
            And a.app_name=#{appName,jdbcType=VARCHAR}
        </if>
        <if test="platformId!=null">
            And pf.platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="domainId!=null">
            And dm.domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
        <if test="hostIp!=null">
            And svr.host_ip=#{hostIp,jdbcType=VARCHAR}
        </if>
        ORDER BY
            pf.platform_name,
            dm.domain_id,
            a.app_name ASC,
            a.version,
            svr.host_ip
    </select>
</mapper>