<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.PlatformMapper" >
    <resultMap id="PlatformMap" type="com.channelsoft.ccod.support.cmdb.po.PlatformPo" >
        <id column="platform_id" property="platformId" jdbcType="VARCHAR" />
        <result column="platform_name" property="platformName" jdbcType="VARCHAR" />
        <result column="bk_biz_id" property="bkBizId" jdbcType="INTEGER" />
        <result column="bk_cloud_id" property="bkCloudId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="ccod_version" property="ccodVersion" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="func" property="func" jdbcType="VARCHAR" />
        <result column="api_url" property="apiUrl" jdbcType="VARCHAR" />
        <result column="auth_token" property="authToken" jdbcType="VARCHAR" />
        <result column="host_url" property="hostUrl" jdbcType="VARCHAR" />
        <result column="params" property="params" jdbcType="VARCHAR" javaType="java.util.Map" typeHandler="com.channelsoft.ccod.support.cmdb.dao.typeHandler.JsonMapTypeHandler"/>
    </resultMap>
    <sql id="Base_Column_List" >
        pf.platform_id,
        pf.platform_name,
        pf.bk_biz_id,
        pf.bk_cloud_id,
        pf.create_time,
        pf.update_time,
        pf.`status`,
        pf.ccod_version,
        pf.`comment`,
        pf.`type`,
        pf.func,
        pf.api_url,
        pf.auth_token,
        pf.host_url
    </sql>
    <select id="selectByPrimaryKey" resultMap="PlatformMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from platform pf
        where pf.platform_id=#{platformId,jdbcType=VARCHAR}
    </select>
    <select id="selectByNameBizId" resultMap="PlatformMap">
        select
        <include refid="Base_Column_List" />
        from platform pf
        where 1=1
        <if test="platformName!=null">
            And pf.platform_name=#{platformName,jdbcType=VARCHAR}
        </if>
        <if test="bkBizId!=null">
            And pf.bk_biz_id=#{bkBizId,jdbcType=INTEGER}
        </if>
    </select>
    <select id="select" resultMap="PlatformMap" >
        select
        <include refid="Base_Column_List" />
        from platform pf
        where 1=1
        <if test="status!=null">
            And pf.status=#{status,jdbcType=INTEGER}
        </if>
    </select>
    <insert id="insert" parameterType="com.channelsoft.ccod.support.cmdb.po.PlatformPo">
        insert into platform(
            platform_id,
            platform_name,
            bk_biz_id,
            bk_cloud_id,
            create_time,
            update_time,
            `status`,
            ccod_version,
            `comment`,
            `type`,
            func,
            api_url,
            auth_token,
            host_url,
            params)
        values (
            #{platformId,jdbcType=VARCHAR},
            #{platformName,jdbcType=VARCHAR},
            #{bkBizId,jdbcType=INTEGER},
            #{bkCloudId,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
            #{status,jdbcType=INTEGER},
            #{ccodVersion,jdbcType=VARCHAR},
            #{comment,jdbcType=VARCHAR},
            #{type,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{func,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{apiUrl,jdbcType=VARCHAR},
            #{authToken,jdbcType=VARCHAR},
            #{hostUrl,jdbcType=VARCHAR},
            #{params,typeHandler=com.channelsoft.ccod.support.cmdb.dao.typeHandler.JsonMapTypeHandler})
    </insert>
    <delete id="delete" parameterType="java.lang.String">
        delete
        from platform
        where platform_id = #{platformId,jdbcType=VARCHAR}
    </delete>
    <update id="update" parameterType="com.channelsoft.ccod.support.cmdb.po.PlatformPo" >
        update platform set
            platform_name = #{platformName,jdbcType=VARCHAR},
            bk_biz_id = #{bkBizId,jdbcType=INTEGER},
            bk_cloud_id = #{bkCloudId,jdbcType=INTEGER},
            status = #{status,jdbcType=INTEGER},
            ccod_version = #{ccodVersion,jdbcType=VARCHAR},
            comment = #{comment,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            `type` = #{type,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            func = #{func,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            api_url = #{apiUrl,jdbcType=VARCHAR},
            auth_token = #{authToken,jdbcType=VARCHAR},
            host_url = #{hostUrl,jdbcType=VARCHAR},
            params = #{params,typeHandler=com.channelsoft.ccod.support.cmdb.dao.typeHandler.JsonMapTypeHandler}
        where platform_id = #{platformId,jdbcType=VARCHAR}
  </update>
</mapper>