<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.PlatformAppMapper" >
    <resultMap id="PlatformAppMap" type="com.channelsoft.ccod.support.cmdb.po.PlatformAppPo" >
        <id column="platform_app_id" property="platformAppId" jdbcType="INTEGER" />
        <result column="app_id" property="appId" jdbcType="INTEGER" />
        <result column="app_alias" property="appAlias" jdbcType="VARCHAR" />
        <result column="original_alias" property="originalAlias" jdbcType="VARCHAR" />
        <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
        <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
        <result column="assemble_id" property="assembleId" jdbcType="INTEGER" />
        <result column="host_ip" property="hostIp" jdbcType="VARCHAR" />
        <result column="port" property="port" jdbcType="VARCHAR" />
        <result column="app_runner" property="appRunner" jdbcType="VARCHAR" />
        <result column="base_path" property="basePath" jdbcType="VARCHAR" />
        <result column="deploy_time" property="deployTime" jdbcType="TIMESTAMP" />
        <result column="deploy_path" property="deployPath" jdbcType="VARCHAR" />
        <result column="start_cmd" property="startCmd" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="PlatformAppMap" parameterType="java.lang.String">
        SELECT
	        pa.platform_app_id AS platform_app_id,
	        pa.app_id AS app_id,
	        pa.app_alias AS app_alias,
	        pa.original_alias AS original_alias,
	        pa.platform_id AS platform_id,
	        pa.domain_id AS domain_id,
	        pa.assemble_id AS assemble_id,
	        pa.host_ip AS host_ip,
	        pa.port AS port,
	        pa.app_runner AS app_runner,
	        pa.base_path AS base_path,
	        pa.deploy_time AS deploy_time,
	        pa.deploy_path AS deploy_path,
	        pa.start_cmd AS start_cmd
        FROM
	        platform_app pa
        where pa.platform_app_id=#{platformAppId,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="PlatformAppMap" >
        SELECT
            pa.platform_app_id AS platform_app_id,
            pa.app_id AS app_id,
            pa.app_alias AS app_alias,
            pa.original_alias AS original_alias,
            pa.platform_id AS platform_id,
            pa.domain_id AS domain_id,
            pa.assemble_id AS assemble_id,
            pa.host_ip AS host_ip,
            pa.port AS port,
            pa.app_runner AS app_runner,
            pa.base_path AS base_path,
            pa.deploy_time AS deploy_time,
            pa.deploy_path AS deploy_path,
            pa.start_cmd AS start_cmd
        FROM
            platform_app pa
        INNER JOIN app a ON pa.app_id = a.app_id
        WHERE
            1 = 1
        <if test="platformId!=null">
            And pa.platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="domainId!=null">
            And pa.domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
        <if test="hostIp!=null">
            And pa.host_ip=#{hostIp,jdbcType=VARCHAR}
        </if>
        <if test="appName!=null">
            And a.app_name=#{appName,jdbcType=VARCHAR}
        </if>
        <if test="appAlias!=null">
            And a.app_alias=#{appAlias,jdbcType=VARCHAR}
        </if>
        <if test="version!=null">
            And a.version=#{version,jdbcType=VARCHAR}
        </if>
    </select>
    <insert id="insert" parameterType="com.channelsoft.ccod.support.cmdb.po.PlatformAppPo"
            useGeneratedKeys="true" keyProperty="platformAppId">
        insert into platform_app(app_id, app_alias, original_alias, platform_id, domain_id, assemble_id, host_ip, port, app_runner, base_path,	deploy_time, deploy_path, start_cmd)
        values (#{appId,jdbcType=VARCHAR}, #{appAlias,jdbcType=VARCHAR}, #{originalAlias,jdbcType=VARCHAR}, #{platformId,jdbcType=VARCHAR}, #{domainId,jdbcType=VARCHAR}, #{assembleId,jdbcType=INTEGER}, #{hostIp,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, #{appRunner,jdbcType=VARCHAR}, #{basePath,jdbcType=VARCHAR}, #{deployTime,jdbcType=TIMESTAMP}, #{deployPath,jdbcType=VARCHAR}, #{startCmd,jdbcType=VARCHAR})
    </insert>
    <delete id="delete">
        delete
        from platform_app
        where 1=1
        <if test="platformAppId!=null">
            And
            platform_app_id=#{platformAppId,jdbcType=INTEGER}
        </if>
        <if test="platformId!=null">
            And
            platform_id=#{platformId,jdbcType=VARCHAR}
        </if>
        <if test="domainId!=null">
            And
            domain_id=#{domainId,jdbcType=VARCHAR}
        </if>
    </delete>
    <update id="update" parameterType="com.channelsoft.ccod.support.cmdb.po.PlatformAppPo" >
        update platform_app set
            deploy_path = #{deployPath,jdbcType=VARCHAR},
            start_cmd = #{startCmd,jdbcType=VARCHAR}
        where platform_app_id = #{platformAppId,jdbcType=VARCHAR}
    </update>
</mapper>