<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.ccod.support.cmdb.dao.ServerUserMapper" >
    <resultMap id="ServerUserMap" type="com.channelsoft.ccod.support.cmdb.po.ServerUserPo" >
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="server_id" property="serverId" jdbcType="INTEGER" />
        <result column="login_method" property="loginMethod" jdbcType="INTEGER" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="ssh_port" property="sshPort" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        sur.user_id, sur.user_name, sur.`password`, sur.server_id, sur.login_method, sur.`comment`, sur.ssh_port
    </sql>
    <select id="selectByPrimaryKey" resultMap="ServerUserMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from server_user sur
        where sur.user_id=#{userId,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="ServerUserMap" >
        select
        <include refid="Base_Column_List" />
        from server_user sur
        where 1=1
        <if test="serverId!=null">
            And sur.server_id=#{serverId,jdbcType=INTEGER}
        </if>
    </select>
    <insert id="insert" parameterType="com.channelsoft.ccod.support.cmdb.po.ServerUserPo"
            useGeneratedKeys="true" keyProperty="userId">
        insert into server_user(user_name, `password`, server_id, login_method, `comment`, ssh_port)
        values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{serverId,jdbcType=INTEGER}, #{loginMethod,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{sshPort,jdbcType=INTEGER})
    </insert>
    <delete id="delete">
        delete
        from domain
        where 1=1
        <if test="userId!=null">
            And
            user_id=#{domainId,jdbcType=INTEGER}
        </if>
        <if test="serverId!=null">
            And
            server_id=#{serverId,jdbcType=INTEGER}
        </if>
    </delete>
    <update id="update" parameterType="com.channelsoft.ccod.support.cmdb.po.ServerUserPo" >
        update server_user set
            password = #{password,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>